.historyComponentWrapper {

  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;

}

.historyComponentWrapper > h2 {

  text-align-last: left;

}

#root > div > div > div.historyWrapper > div.historyComponentWrapper > div {

  width: 140px;

}